[pyrogram]
api_id = 123456
api_hash = super-secret-api-hash

[torrentbot]
bot_token = le-bot-token
users = [users that can use this bot. (python list)]

[mongo]
url = localhost
db_name = mediacenterbot
db_username =
db_password =

[qbittorrent]
qbt_url = http://localhost:8080
qbt_user = admin
qbt_password = admin

[sonarr]
sonarr_api_url = http://[IP/FQDN]:[PORT]/[REVERSE_PROXY]/api
sonarr_api_key = YOUR_API_KEY_FROM_SONARR